<a href="https://colab.research.google.com/github/kalijauhari/research/blob/main/Research.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dataset1 = pd.read_csv("https://raw.githubusercontent.com/kalijauhari/research/main/data/Laptop-ACOS/laptop_quad_dev.tsv",on_bad_lines='skip' )

In [ ]:
dataset1.head(10)

,this unit is ` ` pretty ` ` and stylish,so my high school daughter was attracted to it for that reason .\t1,2 LAPTOP#DESIGN_FEATURES 2 5,6\t1,2 LAPTOP#DESIGN_FEATURES 2 9,10
0,for now i ' m okay with upping the experience ...,12 LAPTOP#GENERAL 1 -1,-1,NaN,NaN,NaN
1,seems unlikely but whatever,i ' ll go with it .\t-1,-1 LAPTOP#GENERAL 1 -1,-1,NaN,NaN
2,this version has been my least favorite versio...,8 LAPTOP#GENERAL 0 5,7,NaN,NaN,NaN
3,- biggest disappointment is the track pad .\t5,7 HARDWARE#GENERAL 0 2,3,NaN,NaN,NaN
4,should not of bought this chromebook .\t5,6 LAPTOP#GENERAL 0 -1,-1,NaN,NaN,NaN
5,after about 5 / 10 minutes of use the screen g...,10 DISPLAY#OPERATION_PERFORMANCE 0 11,12,NaN,NaN,NaN
6,i can not stand the trackpad or the keyboard k...,6 KEYBOARD#GENERAL 0 -1,-1\t8,10 KEYBOARD#GENERAL 0 -1,-1,NaN
7,the keyboard is stiff and unresponsive to my t...,2 KEYBOARD#QUALITY 0 3,4\t1,2 KEYBOARD#QUALITY 0 5,6,NaN
8,the chromebook r 11 was hardly used and only a...,4 LAPTOP#USABILITY 0 -1,-1,NaN,NaN,NaN
9,one day it just would not power up .\t-1,-1 BATTERY#OPERATION_PERFORMANCE 0 -1,-1,NaN,NaN,NaN

In [ ]:
dataset2 = pd.read_csv("https://raw.githubusercontent.com/kalijauhari/research/main/data/Restaurant-ACOS/rest16_quad_dev.tsv" ,on_bad_lines='skip')

In [ ]:
dataset2.head(10)

,,,,ca n ' t wait wait for my next visit .\t-1,-1 RESTAURANT#GENERAL 2 -1,-1
their sake list was extensive,but we were looking for purple haze,which was n ' t listed but made for us upon request !\t1,3 DRINKS#STYLE_OPTIONS 2 4,5\t-1,-1 SERVICE#GENERAL 2 -1,-1.0
the spicy tuna roll was unusually good and the rock shrimp tempura was awesome,great appetizer to share !\t1,4 FOOD#QUALITY 2 6,7\t9,12 FOOD#QUALITY 2 13,14,NaN
we love th pink pony .\t3,5 RESTAURANT#GENERAL 2 1,2,NaN,NaN,NaN,NaN
this place has got to be the best japanese restaurant in the new york area .\t1,2 RESTAURANT#GENERAL 2 7,8,NaN,NaN,NaN,NaN
i tend to judge a sushi restaurant by its sea urchin,which was heavenly at sushi rose .\t9,11 FOOD#QUALITY 2 14,15,NaN,NaN,NaN
the prix fixe menu is worth every penny and you get more than enough ( both in quantity and quality ) .\t1,4 FOOD#QUALITY 2 5,6\t1,4 FOOD#STYLE_OPTIONS 2 5,6\t1,4 FOOD#PRICES 2 5,6.0
the food here is rather good,but only if you like to wait for it .\t1,2 FOOD#QUALITY 2 5,6\t-1,-1 SERVICE#GENERAL 0 -1,-1,NaN
also,specify if you like your food spicy - its rather bland if you do n ' t .\t7,8 FOOD#QUALITY 0 12,13,NaN,NaN,NaN
it was horrible .\t-1,-1 RESTAURANT#GENERAL 0 2,3,NaN,NaN,NaN,NaN
have been dozens of times and never failed to enjoy the experience .\t-1,-1 RESTAURANT#GENERAL 2 9,10,NaN,NaN,NaN,NaN

In [ ]:
# NLTK
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
nltk.download('stopwords')

#Spacy
import spacy
nlp = spacy.load('en_core_web_sm')

# Other
import re
import json
import string
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

#Keras
from keras.models import load_model
from keras.models import Sequential
from keras.layers import Dense, Activation

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
#load data
import pandas as pd
reviews_train = pd.read_csv("https://raw.githubusercontent.com/kalijauhari/research/main/data/Restaurant-ACOS/rest16_quad_test.tsv" ,on_bad_lines='skip')

#show first 5 records
reviews_train.head()

,yum !\t-1,-1 FOOD#QUALITY 2 0,1
0,serves really good sushi .\t3,4 FOOD#QUALITY 2 2,3
1,green tea creme brulee is a must !\t0,4 FOOD#QUALITY 2 6,7
2,the entire staff was extremely accomodating an...,3 SERVICE#GENERAL 2 5,6
3,i ' ve been to this restaurant over a dozen ti...,7 RESTAURANT#GENERAL 2 12,14
4,the owner is belligerent to guests that have a...,2 SERVICE#GENERAL 0 3,4

In [ ]:
reviews_train.columns =  ['review', 'aspect_category', 'sent']
reviews_train

,review,aspect_category,sent
0,serves really good sushi .\t3,4 FOOD#QUALITY 2 2,3
1,green tea creme brulee is a must !\t0,4 FOOD#QUALITY 2 6,7
2,the entire staff was extremely accomodating an...,3 SERVICE#GENERAL 2 5,6
3,i ' ve been to this restaurant over a dozen ti...,7 RESTAURANT#GENERAL 2 12,14
4,the owner is belligerent to guests that have a...,2 SERVICE#GENERAL 0 3,4
...,...,...,...
279,i felt ackward and next time went to the casin...,-1 RESTAURANT#MISCELLANEOUS 0 2,3
280,this place rocks ! !\t1,2 RESTAURANT#GENERAL 2 2,3
281,insultingly overpriced\t-1,-1 RESTAURANT#PRICES 0 1,2
282,- mediocre service / quality\t2,3 SERVICE#GENERAL 1 1,2
283,two rascally kids were seated near us for the ...,-1 RESTAURANT#MISCELLANEOUS 0 -1,-1

In [ ]:
# reviews_train.columns
print(reviews_train.groupby('aspect_category').size().sort_values(ascending=False))

#how many categories
print("number of categories",reviews_train.aspect_category.nunique())

aspect_category
-1 RESTAURANT#GENERAL 2 -1    16
-1 RESTAURANT#GENERAL 2 0     11
-1 SERVICE#GENERAL 0 -1       10
-1 RESTAURANT#GENERAL 0 -1     9
-1 FOOD#QUALITY 2 0            7
                              ..
14 SERVICE#GENERAL 0 12        1
15 FOOD#QUALITY 0 18           1
15 FOOD#QUALITY 2 -1           1
15 FOOD#QUALITY 2 8            1
9 SERVICE#GENERAL 1 -1         1
Length: 182, dtype: int64
number of categories 182

In [ ]:
absa_model = Sequential()
absa_model.add(Dense(512, input_shape=(6000,), activation='relu'))
absa_model.add((Dense(256, activation='relu')))
absa_model.add((Dense(128, activation='relu')))
absa_model.add(Dense(13, activation='softmax'))
#compile model
absa_model.compile(loss='categorical_crossentropy', optimizer='Adam', metrics=['accuracy'])

In [ ]:
from nltk.tokenize import tokenize

ImportError: ignored

In [ ]:
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
pip install tokenizer

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tokenizer
  Downloading tokenizer-3.4.2-py2.py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.1/79.1 KB 8.8 MB/s eta 0:00:00
Installing collected packages: tokenizer
Successfully installed tokenizer-3.4.2

In [ ]:
import tokenizer

In [ ]:
vocab_size = 6000 # We set a maximum size for the vocabulary
tokenizer = Tokenizer(num_words=vocab_size)
tokenizer.fit_on_texts(reviews_train.review)
reviews_tokenized = pd.DataFrame(tokenizer.texts_to_matrix(reviews_train.review))

NameError: ignored